VITE_API_BASE_URL=http://localhost:3000/api/v1

PORT=3000
CLIENT_URL=http://localhost:5173
JWT_ACCESS_SECRET=change_me_in_production
JWT_ACCESS_EXPIRES_IN=15m

MSSQL_SERVER=localhost
MSSQL_PORT=1433
MSSQL_DATABASE=EduProDb
MSSQL_USER=gg
MSSQL_PASSWORD=123
MSSQL_ENCRYPT=false
MSSQL_TRUST_SERVER_CERTIFICATE=true
